.main-table {
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%;
    height: 100%;
    background: url(../ds/img/p1.jpg);
    overflow: hidden;
}

.table {
    margin-top: 2%;
    border: 3px solid black;
    border-radius: 5px;
    opacity: 0;
    animation: traiqua 1s forwards;
    animation-delay: 1s;
    transform: translateX(-25px);
}

@keyframes traiqua {
    0% {
        margin-left: -50%;
        opacity: 0;
    }
    100% {
        margin-left: 3%;
        opacity: 1;
    }
}

.table tr td,
.table tr th {
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 13px;
    border: 3px solid black;
}

.table tr th {
    font-size: 28px;
    color: #088178;
}

.table tr td {
    color: white;
}

.edit-icon {
    color: rgb(60, 60, 242);
}

.edit-icon i {
    margin-right: 20px;
}

.edit-icon:hover {
    transition: 0.2s;
    font-size: 28px;
    color: rgb(27, 27, 241);
}

.delete-icon {
    color: rgb(240, 84, 84);
}

.delete-icon:hover {
    transition: 0.2s;
    font-size: 28px;
    color: rgb(250, 30, 30);
}

.eye-icon {
    margin-left: 20px;
    cursor: pointer;
}

.eye-icon:hover {
    color: rgb(42, 56, 244);
}

.checkbox {
    margin-left: 10%;
    transform: scale(2);
}

.anhmay {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 25%;
    animation: duoilen 1s forwards;
    opacity: 0;
}

@keyframes duoilen {
    0% {
        bottom: -10%;
        opacity: 0;
    }
    100% {
        bottom: 10%;
        opacity: 1;
    }
}

.submit {
    position: absolute;
    top: 31%;
    left: 69%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgb(52, 52, 248);
    color: white;
    opacity: 0;
    animation: submittraiqua 1s forwards;
    animation-delay: 2s;
}

.submit:hover {
    background: rgb(2, 2, 183);
    transition: 0.2s;
}

@keyframes submittraiqua {
    0% {
        left: -50%;
        opacity: 0;
    }
    100% {
        left: 69%;
        opacity: 1;
    }
}

.detail-product {
    position: absolute;
    top: 15%;
    left: 45%;
    width: 25%;
    height: 45%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: rgb(248, 232, 232);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    transition: 0.4s;
}

.title {
    color: rgb(90, 90, 237);
    font-size: 28px;
    font-weight: bolder;
}

.name-prd,
.qtt-prd,
.price-prd {
    transform: translateY(10px);
    font-size: 20px;
}

.close {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgb(77, 77, 253);
    color: white;
    transform: translateY(10px);
}

.lopmo {
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    /* nếu chỉ có opacity thì nó vẫn còn nhưng độ mờ bằng 0 */
    opacity: 0;
    transition: 0.6;
}

.noidunghienra {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.lopmohienra {
    opacity: 1;
    visibility: visible;
}